.signinContainer {
  width: 100%;
  height: calc(100vh - 5rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content: center;
  margin-top: 10rem;
  

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 90px;

    input {
      width: 100%;
      padding: 0 1rem;
      height: 55px;
      border-radius: 0.25rem;
      border: 1px solid #d7d7d7;
      font-size: 1rem;
      outline: none;

      transition: background 0.2s;

      &::placeholder {
          color: var(text-body);
      }

      &:focus {
        background: #e7e9ee;
      }
      // todo input q tem um input antes
      & + input {
          margin-top: 10px;
      }
    }

    button {
      margin-top: 20px;
    }
  }
}

.signinForm {
  width: 100%;
  max-width: 600px;
  background: #FFF;
  padding: 3rem 0;
  border-radius: 5px;
}

.signInButton {
  height: 3rem;
  border-radius: 3rem;
  background: var(--gray-850);
  border: 0;
  padding: 0 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
  font-weight: bold;

  svg {
      width: 20px;
      height: 20px;
  }

  svg:first-child {
      margin-right: 1rem;
  }

  svg.closeIcon {
      margin-left: 1rem;
  }

  transition: filter 0.2s;

  &:hover {
      filter: brightness(0.8);
  }
}

.buttonsContainer {
  margin-top: 30px;
  display:flex;
  justify-content: center;

  button {
    & + button {
      margin-left: 10px;
    }
  }
}